* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: "Open Sans";
    font-weight: 400;
}

ul li,
li a {
    text-decoration: none;
    list-style: none;
}

/* sidebar */

main {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
}

.sidebar {
    height: 100vh;
    background: var(--blue-grad);
    border-radius: 0 0 20px 0;
    box-shadow: 2px 0px 4px 0px #00000026;
}

.sidebar img {
    width: 100%;
    padding-inline: 50px;
    margin-block: 40px 60px;
}

.sidebar-menu li {
    padding: 15px 0 15px 60px;
}

.sidebar-menu li a{
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    line-height: 19px;
    text-align: left;

}

.sidebar li:hover{
    border-left: 5px solid var(--white);
    padding-left: 55px;
}

/* main */

.dashboard-container {
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.table {
    border-collapse: collapse;
    width: 100%;
    border-top: 2px solid #C5C5C5;
    overflow: scroll;
}

.table-div {
    overflow: scroll;
    height: 90vh;
}

.table-cell {
    padding: 40px 30px 40px 30px;
    border: 1px solid #C5C5C5;
}

.avatar-column {
    padding: 0 30px 0 30px;
}

.avatar-column img {
    
}

td.options-column {
    display: flex;
}

.options-icon {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.edit-option {
    background-image: url(../icons/edit-icon.png);
}

.view-option {
    background-image: url(../icons/view-icon.png);
}

.delete-option {
    background-image: url(../icons/delete-icon.png);
}